/*サイドメニュー*/
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  height: 100%;
}

.menu {
  background: #8c618d;
  color: #fff;
  position: absolute;
  height: 100%;
  width: 45px;
  white-space: nowrap;
  overflow: hidden;
  transition: width 0.1s ease-in;
  transition-delay: 0.3s;
  margin-right: auto;
  margin-top: -100px;
}

.contents {
  background: #ffffff;
  height: 100%;
  /*padding: 20px;*/
  box-sizing: border-box;
  margin-left: 45px;
}

.brand {
  height: 70px;
  background-image: url('mais_logo.jpg');
  background-size: 150px 30px;
  background-repeat: no-repeat;
  background-position: left 12px center;
}

.menu-item .fa {
  font-size: 19px;
  width: 45px;
  text-align: center;
}

.menu-item {
  line-height: 35px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.menu-item:hover {
  background: #4d294d;
}

.menu:hover {
  width: 200px;
}
body{
    display: block;
    margin: 0px;
}

.ul_flush {
  list-style: none;
  padding-left: 0;
  display: table;
}

.ul_flush li:after {
  content: "";
  display: block;
  margin-bottom: 0.5em;
}
 
.ul_flush li {
  display: table-row;
}
.ul_flush li:before {
  content: "•";
  display: table-cell;
  padding-right: 0.4em;
}
 
li {
  margin-bottom: 0.5em;
}
/*アコーディオン,クイズ*/


.accordion {
  max-width: 400px;
  font-family: Lato;
  margin-bottom: 20px;

  background-color: #ec5366;
  border-radius: 6px;

  margin-left: 100px;
}

.accordion .header {
  height: 40px;
  line-height: 40px;
  padding: 0 40px 0 8px;
  position: relative;
  color: #fff;
  cursor: pointer;
}

.accordion .header-icon {
  position: absolute;
  top: 5px;
  right: 8px;
  transform: rotate(0deg);
  transition-duration: 0.3s;
}

.accordion .body {
  display: none;
  background-color: #fff;
  border: 10px solid #ec5366;
  padding: 8px;
  border-top: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.accordion.show .header-icon {
  transform: rotate(180deg);
  transition-duration: 0.3s;
}

.accordion.ms {
  background-color: #8c618d;
}

.accordion.ms .body {
  border-color: #8c618d;
}
.accordion.hs {
  background-color: #461424;
}

.accordion.hs .body {
  border-color: #461424;
}