@import url('https://fonts.googleapis.com/css?family=Lato');



body{
  display: block;
  margin: 0px;
}
h1{
 font-size:50px; 
 height: 80px;
 width: auto;
 vertical-align: text-top;
 text-align: center;
 background-image: url(purple.png);
 margin: 0px;
 padding: 0px;
}
a{
  text-decoration: none;
  color: blueviolet;
}
ul {
list-style-type: none;
  padding-left: 0;
}
li {
  font-size: 30px;
background-color: #a260df;
  width: 357px;
height: 60px;
/*padding: 20px;*/ 
  display: flex;
  align-items: center;
  justify-content: center;
}
ul{
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
li+ li {
  border-left: 3px solid black;
}
.tab {
text-align: center;
}
.tab li {
float: left;
}


.accordion {
  max-width: 400px;
  font-family: Lato;
  margin-bottom: 20px;

  background-color: #ec5366;
  border-radius: 6px;
}

.accordion .header {
  height: 40px;
  line-height: 40px;
  padding: 0 40px 0 8px;
  position: relative;
  color: #fff;
  cursor: pointer;
}

.accordion .header-icon {
  position: absolute;
  top: 5px;
  right: 8px;
  transform: rotate(0deg);
  transition-duration: 0.3s;
}

.accordion .body {
  display: none;
  background-color: #fff;
  border: 10px solid #ec5366;
  padding: 8px;
  border-top: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.accordion.show .header-icon {
  transform: rotate(180deg);
  transition-duration: 0.3s;
}

.accordion.ms {
  background-color: #8c618d;
}

.accordion.ms .body {
  border-color: #8c618d;
}
.accordion.hs {
  background-color: #461424;
}

.accordion.hs .body {
  border-color: #461424;
}
p{
  color: black;
}
